/* Global styles for the document */
body {
    background-color: #FFFFFF;
    color: #666666;
    font-family: Verdana, Arial, sans-serif;
}

/* Header styles */
header {
    background-color: #003058;
    color: #FFFFFF;
    font-family: Georgia, serif;
}

/* Header h1 styles */
header h1 {
    line-height: 140%;
    padding: 0.5rem;
}

/* Nav styles */
nav {
    font-weight: bold;
    background-color: #F3F3F3;
}

/* h2 styles */
h2 {
    color: #424242;
    font-family: Georgia, serif;
}

/* dt styles */
dt {
    color: #003058;
    font-weight: bold;
}

/* Styles for .ut class */
.ut {
    color: #BA1C21;
    font-weight: bold;
}

/* Footer styles */
footer {
    font-size: 0.7rem;
    font-style: italic;
    text-align: center;
}

/* Styles for #wrapper id */
#wrapper {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}